* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    height:100vh;
    width:100vw;
    font-family:Roboto,sans-serif;
}

.container {
    height:100%;
    width:100%;
    display:flex;
}

.image-sidebar {
    height:100%;
    width:33%;
    background-image: url("../pics/Yosemite-valley.jpg");
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.logo-banner {
    height:15%;
    width:auto;
    background-color: rgba(0,0,0,.5);
}

.inside-logo-banner {
    display:flex;
    height:100%;
    color:white;
    justify-content: center;
    align-items: center;
    opacity:1;
    font-size: 2rem;
}

.logo-banner img {
    height:70%;
    width:2rem;
    width:15%;
}

.photo-credit {
    height:280%;
    /* border:2px solid black; */
    font-size: .75rem;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    color:white;
}

/* 

Form section 

*/

.form-container {
    height:100%;
    width:67%;
    display:flex;
    flex-direction: column;
}

.landing-section {
    height:30%;
    width:auto;
    display:flex;
    flex-direction: column;
    font-size:1.3rem;
    background-color:lightgray;
    padding:60px 80px 20px 20px;
    font-weight: 700;
}

.landing-section span {
    font-style:italic;
    
}

.form-section {
    height:40%;
    background-color:whitesmoke;
}

form {
    display:flex;
    height: 100%;
}

.form-column {
    display:flex;
    flex-direction: column; 
    padding-left:40px;
    justify-content: center;
    width:50%;
    height:100%;
}

label {
    font-size:20px;
    display: inline-block;
} 

input {
    height:30px;
    border-radius: 4px;
    border:1px solid lightgray;
    width:75%;
    display:inline-block;
}

input:focus {
    border:1px solid blue;
    box-shadow: 1px 1px 3px;
}

.error {
    border:1px solid red;
}

#password-requirements {
    height:10px;
    font-size:.75rem;
    color:red;
    /* border:1px solid black; */
    
}

.form-div {
    height:10px; 
}

.submit-section {
    height:30%;
    width:auto;
    background-color:lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:40px;
}

button {
    height:40px;
    width:200px;
    background-color: darkgreen;
    color:white;
    cursor: pointer;
    border-radius:5px;
    border:1px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    font-weight:600;
}

.submit-text a {
    text-decoration: none;
    color:darkgreen;
    font-weight: 900;
}